@use "partials/colors" as c;
@use "partials/fonts" as f;

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-family: f.$roboto;
  color: c.$white;
  background-color: c.$black;
}
h1{
  font-size: 20px;
  font-style: italic;
  line-height: 50px;
  margin-left: 20px;
}
a{
  color: c.$white;
  text-decoration: none;
}
p{
  font-size: 14px;
  line-height: 24px;
  text-align: justify;
}

header {
  position: fixed;
  top: 0px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  border-bottom: solid 1px c.$white;
  background-color: c.$black;

}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 70px;

  .slider-container {
    width: 100vw;
    max-height: 3000px; 
    margin-bottom: 10px;
  }

  .slick {
    &-prev {
      left: 10px !important; 
      z-index: 1000;
    }
    &-next {
      right: 10px !important;
      z-index: 1000;
    }
  }
  .bio {
    padding: 40px 40px 70px 40px;
  }
}

nav {
  position: fixed;
  bottom: 0px;
  display: flex;
  width: 100%;
  border-top: 1px solid c.$white; 
  background-color: c.$black;
  ul {
    display: flex;
    flex-direction: row;
    height: 50px;
    line-height: 50px;
    li {
      font-size: 12px;
      a{
        padding: 25px;
      }
    }
  }
}