@use "styles/reset.scss";
@use "styles/sosthene.scss";

@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css");


.full-width-video {
    width: 100%;
    height: auto;
    object-fit: cover;
}